build/
devel/
.vscode/
.catkin_workspace
src/katana_description/
src/matlab_files/local_experimenting/
src/matlab_files/data/
*.asv
src/adaptive_controller/datadump
src/novel_adaptive_controller_paper/datadump
