<launch>
  <param name="robot_description" command="cat $(find ros_experimenting)/models/planar_RR_robot.urdf" />

  <rosparam file="$(find my_controller)/config/katana_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/planar_RR_robot" args="joint_state_controller planar_RR_joint1_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/planar_RR_robot/joint_states" />
  </node>

</launch>
