<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ros_experimenting)/worlds/sim.world"/>
  </include>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-file $(find ros_experimenting)/models/BERT2_robot.urdf -urdf -z 1 -model BERT2_robot"/>

  
  <param name="robot_description" command="cat $(find ros_experimenting)/models/BERT2_robot.urdf" />

  <rosparam file="$(find novel_adaptive_controller_paper)/config/BERT2_robot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/BERT2_robot" args="joint_state_controller BERT2_joint_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/BERT2_robot/joint_states" />
  </node> 

</launch>
