<launch>
  <param name="robot_description" command="xacro $(find novel_adaptive_controller_paper)/models/BERT2.xacro" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find novel_adaptive_controller_paper)/worlds/sim.world"/>
  </include>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -z 1 -model BERT2_robot"/>

  <rosparam file="$(find novel_adaptive_controller_paper)/config/BERT2_robot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/BERT2_robot" args="joint_state_controller BERT2_joint_controller"/>

</launch>
